*
{
    margin-left: 0px;
}

@media all and (max-device-width: 480px)
{
    #miseenpage
    {
        display: flex;
        flex-direction: column;
    }
    .apropos
    {
        display: flex;
    }
}

@font-face 
{
    font-family: 'metropolis';
    src: url(metropolis/Metropolis-Light.otf)
}

h1
{   
    color: rgb(70, 70, 70);
    font-size: 63px;
    font-variant: small-caps;
}
h2
{
    font-size: 27px;
    font-variant: small-caps;
    border-bottom: 1px rgb(70, 70, 70) solid;
}

h3
{
    text-align: center;
    margin-bottom: 2px;
    background-color: white;
    color: rgb(53, 53, 53);
    font-variant: small-caps;
    font-size: 25px;
}

h4
{
    font-size: 18px;
}
    
img
{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 100%;
}

li
{
    line-height: 2em;
}

#description
{
    line-height: 20px;
}

#miseenpage
{
 display: flex;
 width: 100%;
}

#apropos
{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: left;
    justify-content: space-evenly;
    width: 25%;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'metropolis';
    line-height: 20px;
}

#parcours
{
    margin-left: 20px;
    padding-bottom: 20px;
    font-family: 'metropolis';
    color: rgb(70, 70, 70);
}
.experiences
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 50px;
}

.formation
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 50px;
}

.dates
{
    line-height: 60px;
}



