* {
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
}

@viewport {
  width: device-width;
  zoom: 1;
}

@media (max-width: 1024px) {
  * {
    margin-left: 0px;
    margin-top: 0px;
  }

  #parcours h1 {
    font-size: 3em;
  }

  #parcours h2 {
    font-size: 2em;
  }

  #parcours h3 {
    font-size: 26px;
    margin-top: 40px;
  }

  #parcours h4 {
    font-size: 22px;
  }

  #a-propos h4 {
    font-size: 24px;
    border: 1px solid black;
  }

  #mise-en-page {
    display: flex;
    flex-direction: column-reverse;
  }

  #a-propos {
    display: flex;
    flex-direction: column;
  }

  #parcours {
    margin-top: 200px;
    word-wrap: break-word;
  }

  .contact {
    color: rgb(255, 255, 255);
    font-size: 24px;
  }

  .recommandations {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .employeur {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px;
  }

  .emploi {
    font-size: 20px;
    word-wrap: break-word;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .puce-date {
    display: flex;
    font-size: 22px;
  }

  .work {
    max-width: fit-content;
  }

  .image {
    position: absolute;
    top: 0px;
    left: 35%;
    margin-bottom: 300px;
  }

  .loisirs {
    font-size: 22px;
    padding-bottom: 40px;
    text-align: center;
  }

  .description {
    font-size: 24px;
    min-height: fit-content;
  }
}

h1 {
  color: rgb(69, 90, 100);
  font-size: 3.6em;
  margin-bottom: 0em;
}

h1 span {
  color: black;
  font-weight: lighter;
}

h2 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 50px;
}

h2 span {
  border-bottom: 1px rgb(69, 90, 100) solid;
}

h3 {
  width: 100%;
  font-size: 1.4em;
  padding-bottom: 10px;
  border-bottom: 1px rgb(55, 71, 79) solid;
  color: black;
}

h3 i {
  font-size: 1em;
  color: rgb(69, 90, 100);
}

h4 {
  margin-bottom: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: white;
  color: rgb(55, 71, 79);
  font-size: 1.1em;
}

#a-propos h4 {
  text-align: center;
}

h5 {
  font-size: 1.5em;
}

img {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border-radius: 100%;
}

address {
  font-style: normal;
}

#mise-en-page {
  display: flex;
  max-width: 750px;
  margin: auto;
}

#a-propos {
  text-align: start;
  background-color: rgb(69, 90, 100);
  color: white;
  line-height: 20px;
}

#parcours {
  padding-left: 30px;
  color: rgb(55, 71, 79);
  max-width: 650px;
}

.recommandations {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.employeur {
  display: flex;
  flex-direction: column;
  justify-content: start;
  white-space: pre-line;
  line-height: 25px;
  width: 49vw;
}

.employeur h4 {
  margin-top: 20px;
}

.employeur span {
  font-weight: bold;
}

i {
  font-size: 0.5em;
  align-self: center;
  margin-right: 15px;
}

.loisirs i {
  font-size: 2.3em;
  color: white;
  padding-left: 30px;
  padding-top: 40px;
}

.description p {
  line-height: 30px;
  font-size: 0.9em;
  text-align: justify;
  padding: 25px;
  height: 300px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  margin-top: 0px;
  font-size: 0.5em;
  padding-left: 35px;
  padding-right: 25px;
  font-size: 0.9em;
  list-style: none; 
}

.contact li {
  padding-bottom: 20px;
  padding-top: 20px;
}

.emploi {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 700px;
  margin-left: 20px;
}

.puce-date {
  display: flex;
  white-space: pre-line;
}

.work {
  width: 420px;
}

a {
  color: rgb(188, 201, 206);
}
